/Result/*
!/Result/test_result/
/Result/*/*
!/Result/Clean.py
/funid/src/*.nwk
/*.nhr
/*.nin
/*.nsq
/*.fasta
/*.nwk
/funid/external/MAFFT_Windows/
!/funid/external/mmseqs_Windows/bin/*
!/funid/external/mmseqs_Windows/bin/*.exe
!/funid/external/mmseqs_Windows/bin/*.dll
/funid/__pycache__/*.pyc
/DB/*.xlsx
/sftp-config.json
/tmp.hash
/Query/*.fasta
/tmp/*
/*.m8
/*.hash
/dist/*
/build/*
/DB/*.xlsx
/DB/*.ftr
/DB/FunID_DB_UNITE_20211005.parquet
/out_profile
!/Options.config
/*.config
/DB/blast/*/*.nin
/DB/blast/*/*.nhr
/DB/blast/*/*.nsq
/DB/mmseqs/*/*
!/DB/mmseqs/*/*.gitignore
/FunID-win32-x64/*
/node_modules/*
/package.json
/package-lock.json
/build/*
/dist/*
/FunID.egg-info/*
/Amanita/*
/test/*
/amanita_*/*
/penicillium_*/*
log.txt
DB.fasta
/Penicillium_*/*
/Penicillium/*
